@page "/"
@using HectorsVagnar.Components
@using System.Web;
@inject IJSRuntime JSRuntime

<PageTitle>Index</PageTitle>
<form>
<div class="form-group">
        <label for="TagNr">TågNr: </label>
        <InputText class="form-control" id="TagNr" @bind-Value="TagNr" placeholder="TågNr (Vupt 12345)" />
</div>
</form>
<div class="container text-center">
    <h2 role="heading">VagnsId: @CurrenInput</h2>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col"><NumberButton Value="1" Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="2" Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="3" Callback="ButtonClicked"></NumberButton></div>
    </div>
    <div class="row">
        <div class="col"><NumberButton Value="4" Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="5" Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="6" Callback="ButtonClicked"></NumberButton></div>
    </div>
    <div class="row">
        <div class="col"><NumberButton Value="7" Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="8" Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="9" Callback="ButtonClicked"></NumberButton></div>
    </div>
    <div class="row">
        <div class="col"><NumberButton Value="." Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="0" Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="T" Callback="ButtonClicked"></NumberButton></div>
    </div>
    <div class="row">
        <div class="col"><NumberButton Value="C" Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><a class="btn btn-danger p-4 m-1" href=@EpostMall>Lastat</a></div>
        <div class="col"><a class="btn btn-danger p-4 m-1" @onclick:preventDefault onclick=@(() => String.Format("mailto:{0}?body={1}&subject=Olastat: {2}", Epostadress, GetMailFromMall(false), TagNr))>Olastat</a></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="lead">Lok: @Lok</p>
        </div>
        <div class="col">
            <p class="lead">Antal vagnar: @Vagnar.Count</p>
        </div>
    </div>
</div>

@foreach (var vagnar in Vagnar.Select((vagn, index) => new {Vagn = vagn, Index = index} ).GroupBy(x => x.Index / 5).Select(t => t.Select(p => p.Vagn).ToList()))
{
    <ul class="list-group m-4">
        @foreach(var vagn in vagnar)
        {
        <li @onclick="() => RemoveVagn(vagn)" class="list-group-item">@vagn</li>
        }
    </ul>
}

