@page "/"
@using HectorsVagnar.Components
@using System.Web;

<PageTitle>Index</PageTitle>
<div class="row">
    <InputText id="TagNr" @bind-Value="TagNr" />
</div>

<h2 role="heading">VagnsId: @CurrenInput</h2>

<div class="container text-center">
    <div class="row">
        <div class="col"><NumberButton Value="1" Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="2" Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="3" Callback="ButtonClicked"></NumberButton></div>
    </div>
    <div class="row">
        <div class="col"><NumberButton Value="4"Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="5"Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="6"Callback="ButtonClicked"></NumberButton></div>
    </div>
    <div class="row">
        <div class="col"><NumberButton Value="7"Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="8"Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="9"Callback="ButtonClicked"></NumberButton></div>
    </div>
    <div class="row">
        <div class="col"><NumberButton Value="0"Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><NumberButton Value="T"Callback="ButtonClicked"></NumberButton></div>
        <div class="col"><button class="btn btn-secondary p-4 m-1" @onclick="AddVagn">OK</button></div>
    </div>
    <div class="row">
        <div class="col"><a class="btn btn-danger p-4 m-1" href=@String.Format("mailto:{0}?body={1}&subject=Lastat: {2}", Epost, GetVagnarString(), TagNr)>Lastat</a></div>
        <div class="col"><a class="btn btn-danger p-4 m-1" href=@String.Format("mailto:{0}?body={1}&subject=Olastat: {2}", Epost, GetVagnarString(), TagNr)>Olastat</a></div>
    </div>
</div>


<ul class="list-group">
@foreach (var vagn in Vagnar)
{
    <li @onclick="() => RemoveVagn(vagn)" class="list-group-item">@vagn</li>
}
</ul>
