@page "/Settings"

<h3>Settings</h3>

<EditForm Model=MinaInstallningar OnSubmit="@HandleSubmit">
    <InputText id="name" @bind-Value="MinaInstallningar.Epost" />

    <button type="submit">Submit</button>
</EditForm>